.banner {
  @media (max-width: 1550px) and (min-width: 1200px) {
    .container .buttons {
      display: flex;
      margin-top: 2rem;
    }

    .container h1 {
      margin-top: 6rem !important;
    }
  }

  .container {
    h1 {
      text-align: left;
      line-height: 95px;
      margin-top: 10rem;
      color: white;
      font-weight: 700;
    }
    p {
      color: white;
      text-align: left;
    }

    h3 {
      text-align: left;
      color: white;
      padding-top: 8px;
    }

    .buttons {
      display: flex;
      margin-top: 2rem;
      margin-bottom: 10rem;
      button {
        padding: 12px 10px;
        margin-left: 1rem;
        border: none;
      }

      .custom-products {
        background: transparent;
        border: 2px solid white;
        color: white;
        font-weight: 600;
      }
      .request-a-quote {
        background: black;
        color: white;
      }
    }
  }
}
