.navbar {
  background: white;
  padding-top: 0.5rem !important;
  padding-bottom: 0.5rem !important;
  position: absolute;
  top: 45px;
  width: 100%;

  .container {
    .row {
      .col-xl-2 {
        text-align: center;
        img {
          width: 100%;
          padding: 10px;
        }

        @media (max-width: 991px) {
          img {
            width: 20%;
          }
        }

        @media (max-width: 576px) {
          img {
            width: 40% !important;
          }
        }
      }
      .col-xl-10 {
        align-self: center;

        @media (max-width: 991px) {
          ul {
            justify-content: center !important;
            flex-wrap: wrap !important;
          }
        }

        ul {
          align-items: center;
          justify-content: right;
          display: flex;
          list-style: none;

          li {
            margin: 0 15px;
            cursor: pointer;
            width: max-content;
            color: black;
            font-size: 18px;
            font-weight: 500;
          }

          @media (max-width: 991px) {
            li {
              margin-top: 1rem;
              font-size: 12px !important;
            }
          }

          @media (max-width: 1199px) {
            li {
              font-size: 14px;
            }
          }
        }

        button {
          background: black;
          color: white;
          border: none;
          padding: 8px 16px;
          border-radius: 2px;
        }
      }
    }
  }
}

.nav-icon {
  display: none;

  svg {
    color: #8eaadb;
  }
}

@media screen and (max-width: 576px) {
  .nav-menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    border-top: 1pxsolid #fff;
    position: absolute;
    top: -36px;
    left: -110%;
    opacity: 1;
    transition: all 0.5s ease;
  }

  .nav-menu.active {
    background: whitesmoke;
    left: 0px;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1;
    margin-top: 28px;
    padding-left: 0rem !important;
  }
  .nav-item .active {
    color: #66902f;
    border: none;
  }
  .nav-links {
    display: table;
    a {
      button {
        margin-bottom: 1rem;
      }
    }
  }

  .nav-icon {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-100%, 60%);
    font-size: 1.8rem;
    cursor: pointer;
    z-index: 1;
    color: #66902f;
  }
}
