.panel {
  position: relative;
  top: -7px;

  .col-xl-4 {
    .description {
      margin-left: 3rem;

      .navigate-button {
        color: white !important;
        background: black;
        padding: 10px;
      }
      h2 {
        text-transform: uppercase;
        font-size: 36px;
        color: #9ca0a8;
        margin-top: 7rem;
      }
      h3 {
        margin-top: 2rem;
        letter-spacing: 5px;
      }
      p {
        padding-right: 5rem;
        margin-top: 2rem;
      }
    }
  }

  .col-xl-8 {
    img {
      width: 101.3%;
      height: 100%;
    }
  }
}

.pagination-button {
  display: flex;
  justify-content: start;
  top: 10px;
  position: relative;
  button {
    color: white !important;
    background: black;
    padding: 12px;
    border-left: 1px solid white;
    border-right: 1px solid white;
  }

  .active_button {
    background-color: #a1aab3;
    outline: none !important;
    border: none;
  }
}
