@media (max-width: 1600px) and (min-width: 1200px) {
  #carousel {
    position: relative;
    height: 25rem;
    width: 100%;
    margin-top: 3rem;
  }

  .c-header-home_controls.-nomobile.o-button-group {
    margin-left: 3% !important;
    position: relative !important;
    top: 15px !important;
  }

  .js-parallax {
    padding-right: 0rem;
    padding-left: 5rem;
    max-width: 150rem;
  }

  .banner {
    .container {
      padding-right: 7.5rem !important;
      padding-left: 7.5rem !important;
    }
  }

  .product-line-heading {
    h1 {
      letter-spacing: 8px !important;
    }
  }
}

@media (max-width: 1199px) {
  .panel .col-xl-4 {
    .description {
      h2 {
        margin-top: 3rem !important;
        font-size: 32px;
      }
      p {
        padding-right: 0;
      }
    }
  }

  .pagination-button {
    justify-content: start;
  }

  .panel .col-xl-4 .description .who-are-we .container .row .col-xl-6 {
    .heading-1 {
      font-size: 36px;
    }
    .heading-2 {
      font-size: 36px;
    }
    .para-1 {
      margin-bottom: 2rem;
      line-height: 24px;
    }

    .para-2 {
      line-height: 24px;
    }
    img {
      width: 23rem;
      height: 22rem;
    }
  }

  .who-are-we .container .row .text-part {
    padding-right: 40px;
  }

  .footer .container .row .col-xl-3 ul li {
    list-style: none;
    width: 110px;
    line-height: 19px;
    font-size: 13px;
  }
  .footer .container .row .col-xl-3 ul h6 svg {
    display: none;
  }
  .footer .container .row .col-xl-3 .logos svg {
    font-size: 24px;
    margin: 40px 5px;
    color: #333333;
  }

  .footer-bottom {
    background-color: rgba(95, 134, 203, 0.7);
    padding-top: 12px;
    padding-bottom: 12px;
  }

  .footer-bottom .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .about .container .row .col-xl-6 p {
    padding-right: 90px;
    color: white;
    line-height: 28px;
    margin-top: 16px;
  }

  #carousel {
    position: relative;
    height: 24rem;
    width: 100%;
    margin-top: 3rem;
  }

  .banner .container .buttons {
    display: flex;
    margin-top: 2rem;
    margin-bottom: 6rem;
  }

  h1.slideshow__slide-caption-title {
    padding-left: 100px !important;
    font-size: 30px !important;
    padding-right: 0 !important;
    color: black !important;
    margin-top: 5rem !important;
  }

  .c-header-home_controls.-nomobile.o-button-group {
    margin-left: 6% !important;
    position: relative !important;
    top: 34px !important;
  }

  .banner {
    .container {
      padding-right: 5.5rem !important;
      padding-left: 5.5rem !important;

      h1 {
        line-height: 45px;
        margin-top: 2rem;
        font-size: 45px;
      }
    }
  }
}

@media (max-width: 991px) {
  .appraisal-3 {
    img {
      width: 26% !important;
    }
  }
  .form .form-header {
    margin-top: 15rem !important;
  }

  .panel .col-xl-4 .description h3 {
    margin-top: 0rem;
    letter-spacing: 0px;
    font-size: 20px;
  }

  .panel .col-xl-4 .description .navigate-button {
    color: white !important;
    font-size: 12px;
    padding: 10px;
    margin-top: 15px !important;
  }
  .panel .col-xl-4 .description h2 {
    margin-top: 2rem !important;
    font-size: 25px;
  }

  .pagination-button button {
    color: white !important;

    font-size: 12px;
    padding: 10px;
    border-left: 1px solid white;
  }

  .footer .container .row .col-xl-4 ul li {
    list-style: none !important;
  }

  .home video {
    z-index: -1 !important;
    position: relative;
    margin-top: 6rem;
    width: 100%;
  }

  .c-header-home_controls.-nomobile.o-button-group {
    margin-left: 6% !important;
    position: relative !important;
    top: -28px !important;
  }

  .who-are-we .container .row .col-xl-6 img {
    width: 100%;
    height: 100%;
  }
  .who-are-we .container .row {
    .col-xl-6 {
      text-align: center;
    }

    .text-part {
      text-align: center;
      margin-bottom: 3rem;
    }
  }

  .footer-bottom .container .created-by p {
    color: white;
    text-align: center;
  }

  .footer .container .row .col-xl-3 .logos {
    justify-content: center;
    display: flex;
  }
  .footer .container .row {
    text-align: -webkit-center;
    justify-content: center;
  }
  .footer {
    .container {
      .row {
        text-align: -webkit-center;
      }
    }
  }

  .second-column {
    margin-top: 10rem !important;
  }

  .about .container .row .col-xl-6 h1 {
    color: white;
    font-size: 40px;
  }

  .about .container .row .col-xl-6 .appraisal img {
    width: 20%;
  }

  .about .container .row .col-xl-6 .appraisal h5 {
    font-size: 20px;
    color: white;
    letter-spacing: 0px;
    margin-left: 18px;
    white-space: nowrap;
  }

  .about .container .row .col-xl-6 p {
    padding-right: 20px;
    color: white;
    line-height: 28px;
    margin-top: 16px;
    font-size: 16px;
  }

  #carousel {
    position: relative;
    height: 18rem;
    width: 100%;
    margin-top: 3rem;
  }

  .product-line-heading {
    text-align: left !important;
    color: black !important;
    font-size: 22px !important;
    margin-top: 5rem !important;
    letter-spacing: 5px !important;
  }

  .banner .container {
    h1 {
      margin-top: 8rem !important;
      font-size: 28px !important;
      line-height: 35px;
    }
    h3 {
      font-size: 18px !important;
      padding-top: 6px;
    }
  }

  .footer {
    padding-top: 60px !important;
    padding-bottom: 2rem !important;
    padding: 0;
  }

  .item .content .text {
    margin-top: -15%;
    font-size: 20px;
  }
}

@media (max-width: 767px) {
  .mt-5 {
    .col-3 {
      width: 12rem !important;
    }
  }

  .css-b62m3t-container {
    margin-bottom: 2rem;
  }

  .second-column {
    margin-top: 0rem !important;
  }
  .footer .container .row {
    .links {
      margin-top: 2rem;
      margin-bottom: 2rem;
    }
  }

  .home .footer .container .row .col-xl-3 .logos {
    justify-content: center;
    display: flex;
  }
  #carousel {
    position: relative;
    height: 15rem;
    width: 100%;
    margin-top: 3rem;

    .below-belt h6 {
      font-size: 13px !important;
      font-weight: 500 !important;
      padding: 8px 0px 0px !important;
    }
  }

  p.slideshow__slide-caption-content {
    padding-left: 50px !important;
    padding-right: 250px !important;
    line-height: 24px;
    width: 100% !important;
    max-width: 100%;
  }

  .js-parallax {
    left: 46px !important;
  }

  .banner .container {
    h1 {
      font-size: 22px !important;
    }
    h3 {
      font-size: 18px !important;
      width: 85% !important;
    }
  }

  .c-header-home_controls.-nomobile.o-button-group {
    margin-left: 3% !important;
    position: relative !important;
    top: -145px !important;
  }

  .slideshow__slide-caption-title {
    margin-bottom: 25px !important;
  }

  .banner .container {
    padding-right: 0px !important;
    padding-left: 45px !important;

    h1 {
      margin-top: 5rem !important;
      font-size: 22px !important;
      line-height: 20px;
    }

    p {
      font-size: 14px !important;
      color: white !important;
      text-align: left !important;
      line-height: 16px !important;
    }

    .buttons {
      margin-top: 1rem !important;
      margin-bottom: 5rem !important;
    }
  }

  .product-line-heading {
    text-align: center !important;
    color: black !important;
    font-size: 18px !important;
    margin-top: 4rem !important;
    letter-spacing: 2px !important;
    margin-left: 0px !important;
  }

  h1.slideshow__slide-caption-title {
    padding-left: 75px !important;
    font-size: 24px !important;
    padding-right: 0 !important;
    letter-spacing: 2px;
    color: black !important;
    margin-top: 5rem !important;
  }

  .second {
    margin-top: 1rem;
  }
  .footer .container .row .col-xl-4 .logos {
    justify-content: center !important;
  }

  .item .content .text {
    margin-top: -30%;
    font-size: 20px;
  }

  .home video {
    margin-top: 10rem !important;
    width: 100%;
  }
  .panel .col-xl-4 .description {
    margin-bottom: 3rem;
    text-align-last: center;
  }

  .pagination-button {
    justify-content: center;
  }
}

@media screen and (max-width: 575px) and (min-width: 380px) {
}

@media (max-width: 575px) {
  .who-are-we {
    margin-top: 10rem !important;
  }
  .panel .col-xl-8 img {
    width: 100% !important;
  }

  .sierra-redirect {
    top: -85px;
  }

  .floating-btn {
    height: 40px;
    width: 70px !important;
    padding: 0px;
    top: -45px;
  }

  .banner {
    margin-bottom: 3rem !important;
  }

  .home video {
    margin-top: 192px !important;
  }

  .pagination__item {
    font-size: 12px !important;
  }

  .who-are-we .container .row .text-part {
    padding-right: 0;
  }

  .footer {
    padding: 100px 0 0px;

    .container {
      padding: 0 !important;
    }
  }

  .home .footer .container .row .col-xl-3 ul h6 svg {
    font-size: 32px;
    margin-bottom: 1rem;
  }
  .home .footer .container .row .col-xl-3 .logos svg {
    margin: 35px 5px !important;
  }

  #carousel {
    position: relative;
    height: 16rem;
    width: 100%;
    margin-top: 3rem;
    .below-belt h6 {
      font-size: 10px !important;
    }

    .arrow-left {
      font-size: 35px !important;
      left: 17px !important;
      padding: 5px !important;
    }

    .arrow-right {
      font-size: 35px !important;
      right: 17px !important;
      padding: 5px !important;
    }
  }

  .c-header-home_controls.-nomobile.o-button-group {
    margin-left: 34% !important;
    position: relative !important;
    top: -110px !important;
  }

  p.slideshow__slide-caption-content {
    color: black !important;
    padding-left: 100px !important;
    padding-right: 0 !important;
    cursor: pointer !important;
    font-size: 14px !important;
    max-width: 100% !important;
    width: 100% !important;
    text-align: center !important ;
  }

  h1.slideshow__slide-caption-title {
    font-size: 24px !important;
    padding-right: 0 !important;
    letter-spacing: 2px;
    text-align: center;
    color: black !important;
    margin-top: 6rem !important;
  }

  .product-line-heading {
    text-align: center !important;
  }

  .banner .container .buttons {
    justify-content: center;
    margin-top: 15px;
    button {
      padding: 8px 6px !important;
      margin-left: 1rem !important;

      font-size: 12px !important;
    }
  }

  .banner .container {
    padding-right: 0 !important;
    padding-left: 0 !important;
    margin-left: 0 !important;
  }

  .banner .container {
    h1 {
      margin-top: 5rem !important;
      font-size: 16px !important;
      text-align: center !important;
      line-height: 10px !important;
    }

    h3 {
      font-size: 12px !important;
      text-align: center !important;
      color: white;
      margin-top: 0px;
      padding-top: 3px;
      width: 100% !important;
      border-top: none !important;
    }
    p {
      margin-left: 30px;
      margin-right: 30px;
      font-size: 12px !important;
      text-align: center !important;

      br {
        display: none;
      }
    }
  }

  .footer-bottom .container .links ul li {
    font-size: 12px;
  }

  .footer-bottom .container .created-by p {
    font-size: 12px;
  }
  .js-parallax {
    left: -70px !important;
  }

  .slideshow__slide-image.background-absolute {
    width: 60% !important;
    height: 14rem;
    left: 40% !important;
    top: 10rem !important;
    background-size: contain !important;
    background-repeat: no-repeat !important;
  }

  .slideshow {
    min-height: 660px !important;
  }

  .appraisal-3 {
    img {
      width: 27% !important;
    }
  }

  .who-are-we .container .row .col-xl-6 p {
    margin-bottom: 2rem;
    line-height: 20px;
    font-size: 14px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .about .container .row .col-xl-6 {
    text-align: center;
    font-size: 14px;
  }

  .second-column {
    padding-left: 35px;
  }

  .item .content .text {
    margin-top: -40%;
    font-size: 20px;
  }

  .panel .col-xl-4 .description {
    margin-left: 0rem !important;
    padding-left: 2rem;
    padding-right: 2rem;

    p {
      text-align: center;
    }
  }
}

@media (max-width: 457px) {
  .home video {
    margin-top: 18rem;
  }
}

@media (max-width: 412px) {
  h1.slideshow__slide-caption-title {
    font-size: 18px !important;
    padding-right: 0 !important;
    letter-spacing: 0px;
    text-align: center;
    color: black !important;
    margin-top: 6rem !important;
  }

  .slideshow__slide-image.background-absolute {
    width: 60% !important;
    height: 14rem;
    left: 40% !important;
    top: 17rem !important;
    background-size: contain !important;
    background-repeat: no-repeat !important;
  }

  p.slideshow__slide-caption-content {
    color: black !important;
    padding-left: 100px !important;
    top: -10px !important;
    position: relative;
    padding-right: 0 !important;
    cursor: pointer !important;
    font-size: 14px !important;
    max-width: 100% !important;
    width: 100% !important;
    text-align: center !important;
  }

  .sierra-redirect {
    margin-top: 24px;
  }

  .pagination__item {
    font-size: 10px !important;
    height: 40px !important;
  }
}

@media (max-width: 408px) {
  .banner {
    .container {
      h1 {
        margin-top: 4rem !important;
      }
    }
  }
}
