@media (max-width: 1600px) and (min-width: 1200px) {
  #carousel {
    position: relative;
    height: 25rem;
    width: 100%;
    margin-top: 3rem;
  }

  h1.slideshow__slide-caption-title {
    padding-left: 24px !important;
    margin-top: 1rem !important;
    padding-right: 0px !important;
    color: black !important;
  }
  .c-header-home_controls.-nomobile.o-button-group {
    margin-left: 3% !important;
    position: relative !important;
    top: 15px !important;
  }

  .js-parallax {
    padding-right: 0rem;
    padding-left: 5rem;
    max-width: 150rem;
  }

  .banner {
    .container {
      padding-right: 7.5rem !important;
      padding-left: 7.5rem !important;
    }
  }

  .product-line-heading {
    h1 {
      letter-spacing: 8px !important;
    }
  }
}

@media (max-width: 1199px) {
  .who-are-we .container .row .col-xl-6 {
    .heading-1 {
      font-size: 36px;
    }
    .heading-2 {
      font-size: 36px;
    }
    .para-1 {
      margin-bottom: 2rem;
      line-height: 24px;
    }

    .para-2 {
      line-height: 24px;
    }
    img {
      width: 23rem;
      height: 22rem;
    }
  }

  .who-are-we .container .row .text-part {
    padding-right: 40px;
  }

  .home .video div video {
    margin-top: 8rem;
  }

  .footer .container .row .col-xl-3 ul li {
    list-style: none;
    width: 110px;
    line-height: 19px;
    font-size: 13px;
  }
  .footer .container .row .col-xl-3 ul h6 svg {
    display: none;
  }
  .footer .container .row .col-xl-3 .logos svg {
    font-size: 24px;
    margin: 40px 5px;
    color: #333333;
  }

  .footer-bottom {
    background-color: rgba(95, 134, 203, 0.7);
    padding-top: 12px;
    padding-bottom: 12px;
  }

  .footer-bottom .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .about .container .row .col-xl-6 p {
    padding-right: 90px;
    color: white;
    line-height: 28px;
    margin-top: 16px;
  }

  #carousel {
    position: relative;
    height: 24rem;
    width: 100%;
    margin-top: 3rem;
  }

  .banner .container .buttons {
    display: flex;
    margin-top: 2rem;
    margin-bottom: 6rem;
  }

  h1.slideshow__slide-caption-title {
    padding-left: 100px !important;
    font-size: 30px !important;
    padding-right: 0 !important;
    color: black !important;
    margin-top: 5rem !important;
  }

  .c-header-home_controls.-nomobile.o-button-group {
    margin-left: 6% !important;
    position: relative !important;
    top: 34px !important;
  }

  .banner {
    .container {
      padding-right: 5.5rem !important;
      padding-left: 5.5rem !important;

      h1 {
        margin-top: 6rem;
        font-size: 55px;
      }
    }
  }
}

@media (max-width: 991px) {
  .who-are-we .container .row .col-xl-6 img {
    width: 100%;
    height: 100%;
  }
  .who-are-we .container .row {
    .col-xl-6 {
      text-align: center;
    }

    .text-part {
      text-align: center;
      margin-bottom: 3rem;
    }
  }

  .footer-bottom .container .created-by p {
    color: white;
    text-align: center;
  }

  .footer .container .row .col-xl-3 .logos {
    justify-content: center;
    display: flex;
  }
  .footer .container .row {
    text-align: -webkit-center;
    justify-content: center;
  }
  .footer {
    .container {
      .row {
        text-align: -webkit-center;
      }
    }
  }

  .second-column {
    margin-top: 10rem !important;
  }

  .about .container .row .col-xl-6 h1 {
    color: white;
    font-size: 40px;
  }

  .about .container .row .col-xl-6 .appraisal img {
    width: 20%;
  }

  .about .container .row .col-xl-6 .appraisal h5 {
    font-size: 20px;
    color: white;
    letter-spacing: 0px;
    margin-left: 18px;
  }

  .about .container .row .col-xl-6 p {
    padding-right: 20px;
    color: white;
    line-height: 28px;
    margin-top: 16px;
    font-size: 16px;
  }

  #carousel {
    position: relative;
    height: 18rem;
    width: 100%;
    margin-top: 3rem;
  }

  .home div video {
    top: 80% !important;
  }

  .product-line-heading {
    text-align: left !important;
    color: black !important;
    font-size: 22px !important;
    margin-top: 5rem !important;
    letter-spacing: 5px !important;
  }

  .banner .container {
    h1 {
      margin-top: 2rem !important;
      font-size: 28px !important;
    }
    h3 {
      font-size: 18px !important;
      padding-top: 6px;
    }
  }

  .footer {
    padding-top: 60px !important;
    padding-bottom: 2rem !important;
    padding: 0;
  }
}

@media (max-width: 767px) {
  .second-column {
    margin-top: 0rem !important;
  }
  .footer .container .row {
    .links {
      margin-top: 2rem;
    }
  }

  .home .footer .container .row .col-xl-3 .logos {
    justify-content: center;
    display: flex;
  }
  #carousel {
    position: relative;
    height: 15rem;
    width: 100%;
    margin-top: 3rem;

    .below-belt h6 {
      font-size: 13px !important;
      font-weight: 500 !important;
      padding: 8px 0px 0px !important;
    }
  }

  p.slideshow__slide-caption-content {
    padding-left: 50px !important;
    padding-right: 250px !important;
    line-height: 24px;
    width: 100% !important;
    max-width: 100%;
  }

  .js-parallax {
    left: 46px !important;
  }

  .banner .container {
    h1 {
      font-size: 22px !important;
    }
    h3 {
      font-size: 18px !important;
      width: 85% !important;
    }
  }

  .home div video {
    top: 75% !important;
  }

  .c-header-home_controls.-nomobile.o-button-group {
    margin-left: 12% !important;
    position: relative !important;
    top: -24px !important;
  }

  .slideshow__slide-caption-title {
    margin-bottom: 25px !important;
  }

  .banner .container {
    padding-right: 1.5rem !important;
    padding-left: 1.5rem !important;
    h1 {
      margin-top: 3rem;
      font-size: 34px;
    }
  }

  .product-line-heading {
    text-align: center !important;
    color: black !important;
    font-size: 18px !important;
    margin-top: 4rem !important;
    letter-spacing: 2px !important;
    margin-left: 0px !important;
  }

  h1.slideshow__slide-caption-title {
    padding-left: 75px !important;
    font-size: 24px !important;
    padding-right: 0 !important;
    letter-spacing: 2px;
    color: black !important;
    margin-top: 5rem !important;
  }
}

@media (max-width: 575px) {
  .who-are-we .container .row .text-part {
    padding-right: 0;
  }

  .home .video div video {
    margin-top: -15rem !important ;
  }

  .footer {
    padding: 100px 0 0px;

    .container {
      padding: 0 !important;
    }
  }

  .home .footer .container .row .col-xl-3 ul h6 svg {
    font-size: 32px;
    margin-bottom: 1rem;
  }
  .home .footer .container .row .col-xl-3 .logos svg {
    margin: 35px 5px !important;
  }

  #carousel {
    position: relative;
    height: 16rem;
    width: 100%;
    margin-top: 3rem;
    .below-belt h6 {
      font-size: 10px !important;
    }

    .arrow-left {
      font-size: 35px !important;
      left: 17px !important;
      padding: 5px !important;
    }

    .arrow-right {
      font-size: 35px !important;
      right: 17px !important;
      padding: 5px !important;
    }
  }

  .c-header-home_controls.-nomobile.o-button-group {
    margin-left: 34% !important;
    position: relative !important;
    top: -110px !important;
  }

  p.slideshow__slide-caption-content {
    color: black !important;
    padding-left: 100px !important;
    padding-right: 0 !important;
    cursor: pointer !important;
    font-size: 14px !important;
    max-width: 100% !important;
    width: 100% !important;
    text-align: center !important ;
  }

  h1.slideshow__slide-caption-title {
    font-size: 24px !important;
    padding-right: 0 !important;
    letter-spacing: 2px;
    text-align: center;
    color: black !important;
    margin-top: 6rem !important;
  }

  .product-line-heading {
    text-align: center !important;
  }

  .banner .container .buttons {
    justify-content: center;
    margin-top: 15px;
    button {
      padding: 8px 6px !important;
      margin-left: 1rem !important;

      font-size: 12px !important;
    }
  }

  .banner .container {
    padding-right: 1.5rem !important;
    padding-left: 1.5rem !important;
  }

  .banner .container {
    h1 {
      margin-top: 3rem !important;
      font-size: 18px !important;
      text-align: center !important;
      line-height: 10px !important;
    }

    h3 {
      font-size: 14px !important;
      text-align: center !important;
      color: white;
      margin-top: 10px;
      padding-top: 5px;
    }
    p {
      font-size: 14px;
      text-align: center;
    }
  }

  .footer-bottom .container .links ul li {
    font-size: 12px;
  }

  .footer-bottom .container .created-by p {
    font-size: 12px;
  }
  .js-parallax {
    left: -70px !important;
  }
}
